
body {
  width: 100%;
  height: 100%;
  background-image: url("img/Background/bg3.jpg") ;
  background-repeat: no-repeat;
  background-size: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}
*:focus {
  outline: none;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.title_medium {
  margin-top: 30pt;
  text-align: center;
}
.col-sm-3 img,
.col-sm-6 input {
  width: 100%;
}
.input,
.card_back {
  display: inline-flex;
}
.col-sm-3 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.card_back {
  background-color: #0a14225e;
  padding: 10px;
  margin: 10px 10px;
  box-shadow: 0 0 10px #000000;
  border-radius: 10px;
}
/* .card_back:hover {
  background-color: #31f7005e;
}
.knockout .card_back:hover {
  background-color: #e8f8065e;
}
.final .card_back:hover {
  background-color: #ff00005e;
} */
.col-sm-6 .separator_small {
  font-size: 45px;
  color: white;
  text-shadow: 1px 1px #000;
}
.separator_medium {
  font-size: 60px;
  color: white;
  text-shadow: 1px 1px #000;
}
.separator_large {
  font-size: 90px;
  color: white;
  text-shadow: 1px 1px #000;
}
.col-sm-6 input {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-align: center;
  background: none;
  border: 0;
  color: #fff;
  font-size: 17pt;
  box-shadow: none !important;
  text-shadow: 1px 1px #000;
  line-height: 17pt;
}
.knockout .col-sm-6 input {
  font-size: 30pt;
}
.final .col-sm-6 input {
  font-size: 60pt;
}

#page2 h1,#page3 h1 {
  text-shadow: 2px 2px #2724a1cb;
  position: relative;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 300px;
  /* width:100%; */
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
}
#page2 h1:before,#page3 h1:before {
  background-color: #fdf908;
  content: "";
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}
#page2 h1:after,#page3 h1:after {
  background-color: #2eff13;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 75px;
  margin-bottom: 0.25em;
}
.img{
  text-align: center;
}
.name1{
  text-shadow: 1px 1px 2px #000000;
  position: relative;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 300px;
  /* width:100%; */
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
}

.main_title{
  -webkit-text-stroke: 4px rgba(3, 3, 3, 0.377); /* width and color */
  text-shadow: 4px 4px 7px #271eb1;
  color: rgb(168, 148, 255);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  /* width:100%; */
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
}
.main_title::before,.main_title::after{
  display: none;
}

.main_item{
  text-align: center;
}
.main_item img{
  max-width: 400px;
}

/* //////////////////////////// */

.table1{
  padding: 20px 0;
  text-align: center;
}
.table1 table{
  background:rgba(99, 0, 0, 0.568);
  color: #fff;
}

.table1 tbody td{
  background:rgba(29, 47, 105, 0.459);
  color: rgb(0, 0, 0);
  font-weight: 700;
  
}


.main-heading{
  margin-top: 20px;
}


#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #333333 url('https://codemyui.com/wp-content/uploads/2019/11/Soccer-Ball-Hexagon-Pattern-Loader.gif') no-repeat center;
	z-index: 999;
}



/*  main page button */
.myButton {
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	background-color:#b8e356;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 1px 7px #86ae47;
}
.myButton:hover {
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	background-color:#a5cc52;
}
.myButton:active {
	position:relative;
	top:1px;
}

#player_input{
  display: inline-flex;
}
.main_item input{
  margin: 10px;
  text-align: center;
  border-radius: 25px;
}

#page3{
  text-align: center;
}

.random{
  padding: 10px;
}

#score_table_btn{
  margin-top: 70px;
  color: #6d6d6d;
}
#fixture_table_btn{
  color: #6d6d6d;
}
h3{
  text-shadow: 1px 1px 4px;
}

/* Style 9
   ----------------------------- */
   #page0 .nine h1 {
    text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400;
  }
  #page0 .nine h1 span {
    margin-top: 5px;
      font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
      text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  #page0 .nine h1 span:after,.nine h1 span:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      height: 5px;
    background-color:#f8f8f8;
  }
  